%html{'xmlns:fb'=>'http://www.facebook.com/2008/fbml', 'xmlns:vp'=>'http://www.venpop.com/2011/vpml'}
  %head 
    %link{:href=>'/styles.css', :rel=>'stylesheet', :type=>'text/css'}
    %title welcome
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1169481-15']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_setCustomVar', 1, 'FbPageId', '#{@page_id}', 2 ]);
      _gaq.push(['_setCustomVar', 2, 'FbAppId', '#{@app_id}', 2 ]);
      _gaq.push(['_setCustomVar', 3, 'Liked', '#{@liked}', 3 ]);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    %div#fb-root
    :javascript
      var VP = {
        PageId : '#{@page_id}'
      }
      window.fbAsyncInit = function() {
        FB.init({
          appId  : '#{@app_id}',
          status : true, // check login status
          cookie : true, // enable cookies to allow the server to access the session
          xfbml  : true  // parse XFBML
        });
        parseVenpopML();
        FB.getLoginStatus(function(response) {
          if (response.session) {
            appendDetailsToForm(response.session); 
          } else {
            // no user session available, someone you dont know
          }
        });
        FB.Canvas.setSize();
      };
      (function() {
        var e = document.createElement('script');
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    = yield
    %script{:type=>'text/javascript', :src=>'/scripts.js'}
    
