%html{'xmlns:fb'=>'http://www.facebook.com/2008/fbml', 'xmlns:vp'=>'http://www.venpop.com/2011/vpml'}
  %head 
    %link{:href=>'//fb.wishpot.com/styles/wishpot_css.aspx?FacebookTab=True', :rel=>'stylesheet', :type=>'text/css'}
    %link{:href=>'/styles.css', :rel=>'stylesheet', :type=>'text/css'}
    %title welcome
    %script{:type=>'text/javascript', :src=>'//www.google.com/jsapi?key=ABQIAAAAJGyvUfsdpH6X7cJmljZWzxR11mSib7gv-rFwxoFlYwqwfyHHWRQL47mbtaJBqREUwz5NDmywjO0lCg'}
    %script{:type=>'text/javascript', :src=>'//www.wishpot.com/scripts/wishpot.js'}
    :javascript
      google.load("jquery", "1.7.1", {uncompressed:false});
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1169481-15']);
      _gaq.push(['_trackPageview']);
      _gaq.push(['_setCustomVar', 1, 'FbPageId', '#{@page_id}', 2 ]);
      _gaq.push(['_setCustomVar', 2, 'FbAppId', '#{@app_id}', 2 ]);
      _gaq.push(['_setCustomVar', 3, 'Liked', '#{@liked}', 3 ]);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    %script{:type=>'text/javascript', :src=>'/scripts/xdr.js'}
  %body
    = yield
    %div#fb-root
    :javascript
      var VP = {
        PageId : '#{@page_id}',
        AppId : '#{@app_id}',
        FbRequest: '#{@signed_request}',
      }
      window.fbAsyncInit = function() {
        FB.init({
          appId  : VP.AppId,
          status : true, // check login status
          cookie : true, // enable cookies to allow the server to access the session
          xfbml  : true  // parse XFBML
        });
        FB.getLoginStatus(function(response) {
          if (response.session) {
            appendDetailsToForm(response.session); 
          } else {
            // no user session available, someone you dont know
            appendDetailsToForm();
          }
        });
        FB.Canvas.setSize();
        WPJS.FbJsHasInited = true;
        trace('triggering fbInit now');
        jQuery('body').trigger('fbInit'); //allow others to wait on facebook to load
      };
      (function() {
        var e = document.createElement('script');
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    %script{:type=>'text/javascript', :src=>'//www.wishpot.com/scripts/wishpot_bottom.js'}
    %script{:type=>'text/javascript', :src=>'/scripts.js'}
    
    
