%html{'xmlns:fb'=>'http://www.facebook.com/2008/fbml', 'xmlns:vp'=>'http://www.venpop.com/2011/vpml'}
  %head
    %meta{:property=>'og:url', :content=>"http://wishpot-welcomepage.heroku.com/?fb_page_id=#{@page_id}&fb_app_id=#{@app_id}" }
    - if @app_id == 210073625689149
      %meta{:property=>'og:image', :content=>"http://i1025.photobucket.com/albums/y320/Wishpot_photos/pirelli/Pirelli_backpack_img.png" }
      %meta{:property=>'og:title', :content=>"PIRELLI SOLAR BACKPACK" }
      %meta{:property=>'og:description', :content=>"The Pirelli solar backpack charges your electronic portable devices: energy and durability with the ultra-thin solar panel. Top performance on the move." }
      %meta{:name=>'description', :content=>"The Pirelli solar backpack charges your electronic portable devices: energy and durability with the ultra-thin solar panel. Top performance on the move." }	  
      %title PIRELLI SOLAR BACKPACK
    - if @app_id == 166089790151083
      %meta{:property=>'og:image', :content=>"http://i1025.photobucket.com/albums/y320/Wishpot_photos/pirelli/Pirelli_hat_img.png" }
      %meta{:property=>'og:title', :content=>"PIRELLI PODIUM CAP REPLICA" }
      %meta{:property=>'og:description', :content=>"Wear it and feel the race with a replica of the Podium Cap. Only for champions." }
      %meta{:name=>'description', :content=>"Wear it and feel the race with a replica of the Podium Cap. Only for champions." }
      %title PIRELLI PODIUM CAP REPLICA
    - if @app_id == 168972276525968
      %meta{:property=>'og:image', :content=>"http://i1025.photobucket.com/albums/y320/Wishpot_photos/pirelli/Pirelli_hat_img.png" }
      %meta{:property=>'og:title', :content=>"PIRELLI PODIUM CAP REPLICA FOR KIDS" }
      %meta{:property=>'og:description', :content=>"Wear it and feel the race with a replica of the Podium Cap. Only for champions." }
      %meta{:name=>'description', :content=>"Wear it and feel the race with a replica of the Podium Cap. Only for champions." }
      %title PIRELLI PODIUM CAP REPLICA FOR KIDS
    - if @app_id == 247848525263697
      %meta{:property=>'og:image', :content=>"http://i1025.photobucket.com/albums/y320/Wishpot_photos/pirelli/Pirelli_wristbands_img.png" }
      %meta{:property=>'og:title', :content=>"RUBBER WRISTBAND" }
      %meta{:property=>'og:description', :content=>"Grip and performance of P Zero and Cinturato tyres on your wrist, a unique and exclusive set of bracelets." }
      %meta{:name=>'description', :content=>"Grip and performance of P Zero and Cinturato tyres on your wrist, a unique and exclusive set of bracelets." }
      %title RUBBER WRISTBAND
    - if @app_id == 275513219154917
      %meta{:property=>'og:image', :content=>"http://i1025.photobucket.com/albums/y320/Wishpot_photos/pirelli/pirelli_keychain_img.png" }
      %meta{:property=>'og:title', :content=>"TYRE KEY RING" }
      %meta{:property=>'og:description', :content=>"1:20 replica of the original Pirelli racing tyre. Always in your pocket." }
      %meta{:name=>'description', :content=>"1:20 replica of the original Pirelli racing tyre. Always in your pocket." }
      %title TYRE KEY RING
    - if @app_id == 139441986157918
      %meta{:property=>'og:image', :content=>"http://i1025.photobucket.com/albums/y320/Wishpot_photos/pirelli/pirelli_umbrella_img.png" }
      %meta{:property=>'og:title', :content=>"P ZERO UMBRELLA" }
      %meta{:property=>'og:description', :content=>"Protect yourself in any weather condition with the P Zero umbrella (golf size)." }
      %meta{:name=>'description', :content=>"Protect yourself in any weather condition with the P Zero umbrella (golf size)." }
      %title P ZERO UMBRELLA
    - if @app_id == 280876111946663
      %meta{:property=>'og:image', :content=>"http://i1025.photobucket.com/albums/y320/Wishpot_photos/pirelli/pirelli_lanyard_img.png" }
      %meta{:property=>'og:title', :content=>"P ZERO USB LANYARD" }
      %meta{:property=>'og:description', :content=>"Carry your data with safety and style. USB 4GB capacity." }
      %meta{:name=>'description', :content=>"Carry your data with safety and style. USB 4GB capacity." }
      %title P ZERO USB LANYARD
    %link{:href=>'//fb.wishpot.com/styles/wishpot_css.aspx?FacebookTab=True', :rel=>'stylesheet', :type=>'text/css'}
    %link{:href=>'/styles.css', :rel=>'stylesheet', :type=>'text/css'}
    %script{:type=>'text/javascript', :src=>'//www.google.com/jsapi?key=ABQIAAAAJGyvUfsdpH6X7cJmljZWzxR11mSib7gv-rFwxoFlYwqwfyHHWRQL47mbtaJBqREUwz5NDmywjO0lCg'}
    %script{:type=>'text/javascript', :src=>'//wishpot.s3.amazonaws.com/web/scripts/wishpot.js.closure'}
    :javascript
      google.load("jquery", "1.7.1", {uncompressed:false});
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1169481-15']);
      _gaq.push(['_setCustomVar', 1, 'FbPageId', '#{@page_id}', 2 ]);
      _gaq.push(['_setCustomVar', 2, 'FbAppId', '#{@app_id}', 2 ]);
      _gaq.push(['_setCustomVar', 3, 'Liked', '#{@liked}', 3 ]);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    %script{:type=>'text/javascript', :src=>'/scripts/xdr.js'}
    %script{:type=>'text/javascript', :src=>'/scripts/detectmobilebrowser.js'}
    :javascript
      if (!jQuery.browser.mobile) 
      { 
        jQuery('a').hide();
      }
  %body
    = yield
    %div#fb-root
    :javascript
      var WISHPOT_IMG_ROOT = '//wishpot.s3.amazonaws.com/web/img/';
      var VP = {
        PageId : '#{@page_id}',
        AppId : '#{@app_id}',
        FbRequest: '#{@signed_request}',
      }
      window.fbAsyncInit = function() {
        FB.init({
          appId  : VP.AppId,
          status : true, // check login status
          cookie : true, // enable cookies to allow the server to access the session
          xfbml  : true  // parse XFBML
        });
        FB.getLoginStatus(function(response) {
          if (response.session) {
            appendDetailsToForm(response.session); 
          } else {
            // no user session available, someone you dont know
            appendDetailsToForm();
          }
        });
        FB.Canvas.setSize();
        WPJS.FbJsHasInited = true;
        trace('triggering fbInit now');
        jQuery('body').trigger('fbInit'); //allow others to wait on facebook to load
      };
      (function() {
        var e = document.createElement('script');
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    %script{:type=>'text/javascript', :src=>'//wishpot.s3.amazonaws.com/web/scripts/wishpot_bottom.js.closure'}
    %script{:type=>'text/javascript', :src=>'/scripts.js'}
    
    
